@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

body {
  font-family: "Poppins", sans-serif;
  background-color: #333333;
}

.background-image {
    background-image: url('./wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

a {
  color: #cc0000;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cc0000;
}

/*
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
*/


#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: white;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: absolute;
  padding: 0px;
  text-align: center;
  margin-left: 37%;
 margin-top: 10%;

  
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #cc0000;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}



#HLEDANI{
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}